body{
    
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: #CAF4AF;
    header: blue-grey darken-2;
}

main{
    flex: 1 0 auto;
}

/* blog posts */

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom:5px;
    font-size:40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
    font-style: italic;
}